<%- include("partials/header.ejs") %>

    <div class="formularioPedidos mb-4">
        <form action="/pedidos/update/<%= pedido._id %>" method="post">
            <h1 class="text-dark fw-bold fs-2">Cadastro de Pedidos</h1>
            <div class="form-floating my-2 mt-4">
                <input type="number" name="numero" id="floatingInput" class="form-control" value="<%= pedido.numero %>" placeholder="Numero do pedido" required>
                <label for="floatingInput">Numero</label>
            </div>
            <div class="form-floating my-2 mb-4">
                <input type="number" name="valor" id="floatingInput" class="form-control" value="<%= pedido.valor %>" placeholder="Valor do pedido" required>
                <label for="floatingInput">Valor</label>
            </div>
            <button type="submit" class="btn btn-dark w-100 py-2">Cadastrar</button>
        </form>
    </div>

<%- include("partials/footer.ejs") %>