<%- include("partials/header.ejs") %>

    <div class="formularioProdutos mb-5">
        <form action="/produtos/new" method="post">
            <h1 class="text-dark fw-bold fs-2">Cadastro de Produtos</h1>
            <div class="d-flex my-2 mt-4">
                <div class="form-floating me-2 w-75">
                    <input type="text" name="nome" id="floatingInput" class="form-control" placeholder="Nome do produto" required>
                    <label for="floatingInput">Nome</label>
                </div>
                <div class="form-floating w-75">
                    <input type="text" name="preco" id="floatingInput" class="form-control" placeholder="Preço do produto" required>
                    <label for="floatingInput">Preço</label>
                </div>
            </div>
            <div class="d-flex my-2">
                <div class="form-floating w-100">
                    <input type="text" name="categoria" id="floatingInput" class="form-control" placeholder="Categoria do produto" required>
                    <label for="floatingInput">Categoria</label>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="file" name="imagem" class="form-control" id="inputGroupFile02" accept="image/*" required>
                <label class="input-group-text" for="inputGroupFile02">Escolha uma imagem</label>
            </div>
            <button type="submit" class="btn btn-dark w-100 py-2">Cadastrar</button>
        </form>
    </div>

    <div class="containerCards">
        <% produto.forEach(produto => { %>
            <div class="card" style="width: 18rem;">
                <img src='imgs/<%= produto.imagem %>' class="card-img-top" alt="Imagem">
                <div class="card-body">
                    <h5 class="card-title"><%= produto.nome %> (<%= produto.categoria %>)</h5>
                    <p class="card-text"><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>.</p>
                    <a href="" class="btn btn-dark btnComprar">Comprar</a>
                </div>            
                <div class="acoes">
                    <a href="/produtos/edit/<%= produto._id %>" class="btn btn-warning text-white">Editar</a>
                    <a href="/produtos/delete/<%= produto._id %>" class="btn btn-danger" onclick="return confirm('Confirma a exclusão do registro? ')">Excluir</a>
                </div>
            </div>
        <% }) %>
    </div>

<%- include("partials/footer.ejs") %>