<%- include("partials/header.ejs") %>

    <table class="table table-dark table-striped table-hover caption-top">
        <caption class="text-dark fw-bold fs-2">Clientes</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(cliente => { %>
            <tr>
                <td><%= cliente.nome %></td>
                <td><%= cliente.cpf %></td>
                <% cliente.endereco.forEach(endereco => { %>
                <td><%= endereco.rua %>, Nº <%= endereco.numero %>, <%= endereco.bairro %> - <%= endereco.cidade %></td>
                <% }) %>
            </tr>
            <% }) %>
        </tbody>
    </table>

<%- include("partials/footer.ejs") %>