<%- include("partials/header.ejs") %>

    <div class="containerCards">
        <% produtos.forEach(produto => { %>
        <div class="card" style="width: 18rem;">
            <img src='<%= produto.imagem %>' class="card-img-top" alt="Imagem">
            <div class="card-body">
                <h5 class="card-title"><%= produto.nome %> (<%= produto.categoria %>)</h5>
                <p class="card-text"><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>.</p>
                <a href="" class="btn btn-dark">Comprar</a>
            </div>
        </div>
        <% }) %>
    </div>

<%- include("partials/footer.ejs") %>